
.env
dist
build
.DS_Store
*.log
logs/
*.local


frontend/node_modules
frontend/.env
frontend/dist
frontend/build


backend/node_modules
backend/.env
backend/logs
backend/uploads
backend/.cache


.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


Thumbs.db
ehthumbs.db
Desktop.ini
